* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 650px;
}
main .container {
  padding: 60px 160px 0 160px;
}
main .container h1 {
  font-size: 55px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
}
main .container .aboutus_wrapper {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: minmax(250px, auto);
  grid-auto-rows: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-top: 60px;
}
main .container .aboutus_wrapper .aboutus_box {
  padding: 30px 20px;
}
main .container .aboutus_wrapper .aboutus_describ {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 23px;
}
main .container .aboutus_btn {
  display: block;
  width: 240px;
  height: 62px;
  background-color: black;
  color: white;
  font-size: 22px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main .container .aboutus_btn:hover {
  opacity: 80%;
}

.booking {
  min-height: 580px;
}
.booking .container {
  padding: 60px 160px 0 160px;
}
.booking .container .booking_wrapper {
  display: grid;
  grid-template-columns: 600px 650px;
  grid-template-rows: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.booking .container .booking_wrapper img {
  width: 80%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.booking .container .booking_wrapper .booking_box {
  padding: 50px 25px;
}
.booking .container .booking_wrapper .booking_box .booking_title {
  font-size: 55px;
  font-family: "Montserrat";
  font-weight: 850;
}
.booking .container .booking_wrapper .booking_box .booking_descr {
  font-size: 18px;
  font-family: "Open Sans";
  margin-top: 25px;
  line-height: 25px;
}
.booking .container .booking_btn {
  display: block;
  margin-top: 60px;
  width: 304px;
  height: 62px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.booking .container .booking_btn:hover {
  opacity: 80%;
}

.awards {
  min-height: 550px;
  background: -webkit-gradient(linear, left top, left bottom, from(#292D33), to(#9D9570));
  background: linear-gradient(to bottom, #292D33, #9D9570);
}
.awards .container {
  padding: 60px 160px 0 160px;
}
.awards .container .awards_title {
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 800;
  text-align: center;
  color: white;
}
.awards .container .awards_wrapper {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-auto-rows: 300px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  margin-top: 50px;
}
.awards .container .awards_wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  main .container {
    padding: 60px 40px 0 40px;
  }
  main .container h1 {
    font-size: 50px;
    padding: 0 12px;
  }
  main .container .aboutus_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(250px, auto);
    grid-auto-rows: 250px;
    margin-top: 10px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  main .container .aboutus_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 220px;
    height: 60px;
    margin-top: 40px;
  }
  main .container .aboutus_btn:hover {
    opacity: 80%;
  }
  .booking .container {
    padding: 60px 40px 0 40px;
  }
  .booking .container .booking_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .booking .container .booking_wrapper img {
    width: 100%;
  }
  .booking .container .booking_wrapper .booking_box .booking_title {
    font-size: 48px;
  }
  .booking .container .booking_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 280px;
  }
  .booking .container .booking_btn:hover {
    opacity: 80%;
  }
  .awards .container {
    padding: 60px 40px 0 40px;
  }
  .awards .container .awards_title {
    font-size: 44px;
  }
  .awards .container .awards_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 180px auto;
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  main .container {
    padding: 60px 40px 0 40px;
  }
  main .container h1 {
    font-size: 40px;
    padding: 0 12px;
  }
  main .container .aboutus_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(250px, auto);
    grid-auto-rows: 250px;
    margin-top: 10px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  main .container .aboutus_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    height: 50px;
    margin-top: 30px;
  }
  main .container .aboutus_btn:hover {
    opacity: 80%;
  }
  .booking .container {
    padding: 60px 40px 0 40px;
  }
  .booking .container .booking_wrapper {
    grid-template-columns: 240px 240px;
    grid-template-rows: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .booking .container .booking_wrapper img {
    width: 100%;
  }
  .booking .container .booking_wrapper .booking_box {
    padding: 50px 15px;
  }
  .booking .container .booking_wrapper .booking_box .booking_title {
    font-size: 38px;
  }
  .booking .container .booking_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    font-size: 18px;
    margin-top: 40px;
  }
  .booking .container .booking_btn:hover {
    opacity: 80%;
  }
  .awards {
    min-height: 450px;
  }
  .awards .container {
    padding: 60px 40px 20px 40px;
  }
  .awards .container .awards_title {
    font-size: 35px;
  }
  .awards .container .awards_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 140px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  main .container {
    padding: 30px 25px 0 25px;
  }
  main .container h1 {
    font-size: 35px;
    padding: 0 12px;
  }
  main .container .aboutus_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  main .container .aboutus_wrapper .aboutus_box {
    padding: 20px 10px;
  }
  main .container .aboutus_wrapper .aboutus_describ {
    font-size: 15px;
    line-height: 20px;
  }
  main .container .aboutus_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    height: 50px;
    margin-top: 25px;
  }
  main .container .aboutus_btn:hover {
    opacity: 80%;
  }
  .booking .container {
    padding: 100px 25px 25px 25px;
  }
  .booking .container .booking_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .booking .container .booking_wrapper img {
    width: 70%;
  }
  .booking .container .booking_wrapper .booking_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px;
  }
  .booking .container .booking_wrapper .booking_box .booking_title {
    font-size: 33px;
    text-align: center;
  }
  .booking .container .booking_wrapper .booking_box .booking_descr {
    text-align: center;
  }
  .booking .container .booking_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    height: 52px;
    font-size: 18px;
    margin-top: 40px;
  }
  .booking .container .booking_btn:hover {
    opacity: 80%;
  }
  .awards {
    min-height: 450px;
  }
  .awards .container {
    padding: 60px 40px 20px 40px;
  }
  .awards .container .awards_title {
    font-size: 35px;
  }
  .awards .container .awards_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 140px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 350px) {
  main .container {
    padding: 30px 25px 0 25px;
  }
  main .container h1 {
    font-size: 35px;
    padding: 0 12px;
  }
  main .container .aboutus_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  main .container .aboutus_wrapper .aboutus_box {
    padding: 20px 10px;
  }
  main .container .aboutus_wrapper .aboutus_describ {
    font-size: 15px;
    line-height: 20px;
  }
  main .container .aboutus_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    height: 50px;
    margin-top: 25px;
  }
  main .container .aboutus_btn:hover {
    opacity: 80%;
  }
  .booking .container {
    padding: 100px 25px 25px 25px;
  }
  .booking .container .booking_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .booking .container .booking_wrapper img {
    width: 70%;
  }
  .booking .container .booking_wrapper .booking_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px;
  }
  .booking .container .booking_wrapper .booking_box .booking_title {
    font-size: 33px;
    text-align: center;
  }
  .booking .container .booking_wrapper .booking_box .booking_descr {
    text-align: center;
  }
  .booking .container .booking_btn {
    margin-top: 60px;
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    height: 52px;
    font-size: 18px;
    margin-top: 40px;
  }
  .booking .container .booking_btn:hover {
    opacity: 80%;
  }
  .awards {
    min-height: 450px;
  }
  .awards .container {
    padding: 60px 40px 20px 40px;
  }
  .awards .container .awards_title {
    font-size: 35px;
  }
  .awards .container .awards_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 140px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
    margin-top: 30px;
  }
}/*# sourceMappingURL=aboutus.css.map */