* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(#292D33), to(#9D9570));
  background: linear-gradient(to bottom, #292D33, #9D9570);
}
main .container {
  padding: 50px 160px 0 160px;
}
main .container h1 {
  font-size: 55px;
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  text-align: center;
}
main .container .main_wrapper {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 350px;
  grid-auto-rows: 350px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
main .container .main_wrapper img {
  width: 100%;
  border: 1px solid #292D33;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main .container .main_wrapper img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  main {
    min-height: 900px;
  }
  main .container {
    padding: 50px 0 0 0;
  }
  main .container h1 {
    font-size: 50px;
    width: 700px;
    margin: 0 auto;
  }
  main .container .main_wrapper {
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 240px;
    grid-auto-rows: 240px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    row-gap: 25px;
  }
}
@media screen and (max-width: 767px) {
  main {
    min-height: 800px;
  }
  main .container {
    padding: 50px 25px 0 25px;
  }
  main .container h1 {
    font-size: 42px;
    width: 520px;
    margin: 0 auto;
  }
  main .container .main_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px;
    grid-auto-rows: 220px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    row-gap: 25px;
  }
  main .container .main_wrapper img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 575px) {
  main {
    min-height: 900px;
  }
  main .container {
    padding: 50px 25px 0 25px;
  }
  main .container h1 {
    font-size: 35px;
    width: 300px;
    margin: 0 auto;
  }
  main .container .main_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px;
    grid-auto-rows: 220px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    row-gap: 25px;
  }
  main .container .main_wrapper img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 350px) {
  main {
    min-height: 900px;
  }
  main .container {
    padding: 38px 15px 0 15px;
  }
  main .container h1 {
    font-size: 32px;
    width: 190px;
    margin: 0 auto;
  }
  main .container .main_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px;
    grid-auto-rows: 160px;
    gap: 15px;
  }
  main .container .main_wrapper img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=gallery.css.map */