* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 80px;
}
header .container {
  padding: 0 160px 0 160px;
}
header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
  margin-left: 300px;
  padding: 25px 0 25px 0;
}
header .container nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto Condensed";
  color: black;
}
header .container nav a:hover {
  opacity: 80%;
}

main {
  min-height: 850px;
}
main .container {
  padding: 40px 0 0 0;
}
main .container .main_wrapper {
  display: grid;
  grid-template-columns: 700px 850px;
  grid-template-rows: 650px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
main .container .main_wrapper .main_one {
  padding: 35px 15px;
}
main .container .main_wrapper h2 {
  font-size: 18px;
  font-family: "Montserrat";
}
main .container .main_wrapper h1 {
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 750;
  margin-top: 20px;
}
main .container .main_wrapper .main_title {
  font-size: 20;
  font-family: "Open Sans";
  margin-top: 34px;
  font-weight: 600;
}
main .container .main_wrapper .main_btn {
  width: 304px;
  height: 62px;
  background-color: black;
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 34px;
}
main .container .main_wrapper .main_btn:hover {
  background-color: #a0c6b9;
}
main .container .main_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  min-height: 750px;
  background-color: #9D9570;
}
.team .container {
  padding: 60px 160px 0 160px;
}
.team .container .team_title {
  font-size: 60px;
  font-family: "Montserrat";
  text-align: center;
  color: white;
  font-weight: 600;
}
.team .container .team_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-auto-rows: 480px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.team .container .team_wrapper .team_content {
  position: relative;
}
.team .container .team_wrapper .team_wrap_ {
  padding: 0 20px;
  position: absolute;
  top: 180px;
}
.team .container .team_wrapper .team_name {
  bottom: 220px;
  left: 45px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.team .container .team_wrapper .team_position {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 650;
  color: #9d9570;
  margin-top: 12px;
}
.team .container .team_wrapper .team_describ {
  color: white;
  font-family: "Open Sans";
  margin-top: 22px;
  font-weight: 600;
}
.team .container .team_wrapper .team_social_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.team .container .team_wrapper svg {
  fill: #9d9570;
  width: 35px;
}
.team .container .team_wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.choice {
  min-height: 850px;
  background-image: url(../img/_team_/choice_bg.jpg);
  background-position: center/center;
  background-repeat: no-repeat;
  background-size: cover;
}
.choice .container {
  padding: 200px 160px 0 160px;
}
.choice .container .choice_title {
  font-size: 60px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  width: 1000px;
  margin-left: 250px;
  text-align: center;
}
.choice .container .choice_subtitle {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 30px;
}
.choice .container .choice_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 70px;
}
.choice .container .choice_wrap .choice_btn {
  width: 259px;
  height: 62px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 650;
  cursor: pointer;
}
.choice .container .choice_wrap .choice_btn_book {
  width: 300px;
  height: 65px;
  background-color: unset;
  border: 1px solid white;
  color: black;
  font-size: 22px;
  font-weight: 650;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.choice .container .choice_wrap .choice_btn_book:hover {
  color: white;
}

.contact {
  min-height: 550px;
}
.contact .container {
  padding: 0 160px 0 160px;
}
.contact .container .contact_wrapper {
  display: grid;
  grid-template-columns: 600px 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: stretch;
}
.contact .container .contact_wrapper .contact_box {
  background-color: #292d33;
  padding: 30px 60px;
}
.contact .container .contact_wrapper .contact_title {
  font-size: 55px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.contact .container .contact_wrapper form {
  margin-top: 41px;
}
.contact .container .contact_wrapper form .contact_form {
  margin-top: 22px;
}
.contact .container .contact_wrapper form #name {
  width: 100%;
  height: 41px;
  padding: 10px;
}
.contact .container .contact_wrapper form #email {
  width: 100%;
  height: 41px;
  padding: 10px;
}
.contact .container .contact_wrapper form textarea {
  resize: none;
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 20px;
}
.contact .container .contact_wrapper .contact_btn {
  width: 100%;
  height: 49px;
  background-color: #9d9570;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  header .container {
    padding: 0 100px 0 100px;
  }
  header .container nav {
    margin-left: 50px;
  }
  main {
    min-height: 750px;
  }
  main .container {
    padding: 40px 0 0 40px;
  }
  main .container .main_wrapper {
    grid-template-columns: 380px 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .container {
    padding: 40px 40px 100px 40px;
  }
  .team .container .team_title {
    font-size: 55px;
  }
  .team .container .team_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 420px;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .container .team_wrapper .team_wrap_ {
    top: 150px;
  }
  .team .container .team_wrapper .team_describ {
    width: 300px;
  }
  .team .container .team_wrapper .team_content img {
    width: 100%;
    height: 100%;
  }
  .choice {
    min-height: 750px;
    background-position: center;
  }
  .choice .container {
    padding: 150px 40px 0 40px;
  }
  .choice .container .choice_title {
    width: auto;
    margin: 0 auto;
    font-size: 50px;
  }
  .contact {
    min-height: 470px;
  }
  .contact .container {
    padding: 0;
  }
  .contact .container .contact_wrapper {
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contact .container .contact_wrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact .container .contact_wrapper .contact_box {
    padding: 30px;
  }
  .contact .container .contact_wrapper .contact_box .contact_title {
    font-size: 52px;
  }
}
@media screen and (max-width: 767px) {
  header .container {
    padding: 0 50px 0 50px;
  }
  header .container nav {
    margin-left: 50px;
  }
  main {
    min-height: 650px;
  }
  main .container {
    padding: 0 0 0 40px;
  }
  main .container .main_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 20px;
  }
  main .container .main_wrapper .main_one {
    padding: 35px 0;
  }
  main .container .main_wrapper img {
    height: 80%;
  }
  main .container .main_wrapper h1 {
    font-size: 40px;
  }
  main .container .main_wrapper .main_btn {
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-top: 34px;
    width: 250px;
    height: 58px;
  }
  main .container .main_wrapper .main_btn:hover {
    background-color: #a0c6b9;
  }
  .team .container {
    padding: 40px 30px 100px 30px;
  }
  .team .container .team_title {
    font-size: 50px;
  }
  .team .container .team_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .container .team_wrapper .team_describ {
    width: 200px;
  }
  .team .container .team_wrapper .team_wrap_ {
    top: 120px;
  }
  .team .container .team_wrapper .team_content img {
    width: 100%;
    height: 100%;
  }
  .choice {
    min-height: 750px;
    background-position: center;
  }
  .choice .container {
    padding: 150px 30px 40px 30px;
  }
  .choice .container .choice_title {
    width: auto;
    margin: 0 auto;
    font-size: 40px;
  }
  .choice .container .choice_wrap .choice_btn {
    width: 220px;
    height: 58px;
  }
  .choice .container .choice_wrap .choice_btn_book {
    width: 300px;
    height: 60px;
  }
  .contact {
    min-height: 470px;
  }
  .contact .container {
    padding: 0;
  }
  .contact .container .contact_wrapper {
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contact .container .contact_wrapper .contact_title {
    font-size: 51px;
  }
  .contact .container .contact_wrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact .container .contact_wrapper .contact_box {
    padding: 20px;
  }
  .contact .container .contact_wrapper .contact_box .contact_title {
    font-size: 40px;
  }
  .contact .container .contact_wrapper form {
    margin-top: 35px;
  }
}
@media screen and (max-width: 575px) {
  header {
    height: 40px;
  }
  header .container {
    padding: 0 15px 0 15px;
  }
  header .container nav {
    margin-left: 0;
    padding: 15px 0 15px 0;
  }
  header .container nav a {
    font-size: 10px;
  }
  main {
    min-height: 450px;
    position: relative;
    z-index: 1;
  }
  main .container {
    padding: 0;
  }
  main .container .main_wrapper {
    grid-template-columns: none;
    grid-template-rows: none;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    gap: 20px;
  }
  main .container .main_wrapper .main_one {
    padding: 75px 35px;
  }
  main .container .main_wrapper img {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  main .container .main_wrapper h2 {
    color: white;
  }
  main .container .main_wrapper h1 {
    font-size: 35px;
    color: white;
  }
  main .container .main_wrapper .main_title {
    color: white;
  }
  main .container .main_wrapper .main_btn {
    width: 304px;
    height: 62px;
    background-color: black;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-top: 34px;
    width: 250px;
    height: 58px;
  }
  main .container .main_wrapper .main_btn:hover {
    background-color: #a0c6b9;
  }
  .team .container {
    padding: 40px 15px 100px 15px;
  }
  .team .container .team_title {
    font-size: 38px;
  }
  .team .container .team_wrapper {
    grid-template-columns: none;
    grid-auto-rows: 400px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .container .team_wrapper .team_describ {
    width: 200px;
  }
  .team .container .team_wrapper .team_wrap_ {
    top: 120px;
  }
  .team .container .team_wrapper .team_content img {
    width: 100%;
    height: 100%;
  }
  .choice {
    min-height: 750px;
    background-position: center;
  }
  .choice .container {
    padding: 150px 25px 40px 25px;
  }
  .choice .container .choice_title {
    width: auto;
    margin: 0 auto;
    font-size: 32px;
  }
  .choice .container .choice_subtitle {
    margin-top: 25px;
  }
  .choice .container .choice_wrap .choice_btn {
    width: 220px;
    height: 58px;
  }
  .choice .container .choice_wrap .choice_btn_book {
    width: 250px;
    height: 60px;
  }
  .contact {
    min-height: 470px;
  }
  .contact .container {
    padding: 0;
  }
  .contact .container .contact_wrapper {
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contact .container .contact_wrapper form textarea {
    font-size: 15px;
  }
  .contact .container .contact_wrapper .contact_title {
    font-size: 51px;
  }
  .contact .container .contact_wrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact .container .contact_wrapper .contact_box {
    padding: 20px 20px;
  }
  .contact .container .contact_wrapper .contact_box .contact_title {
    font-size: 41px;
  }
}/*# sourceMappingURL=team.css.map */